{
	"openapi": "3.0.0",
	"info": {
		"title": "Alpha Vantage",
		"description": "Alpha Vantage APIs are grouped into four categories: (1) Stock Time Series Data, (2) Physical and Digital/Crypto Currencies (e.g., Bitcoin), (3) Stock Technical Indicators, and (4) Sector Performances. All APIs are realtime: the latest data points are derived from the current trading day. ",
		"termsOfService": "",
		"version": "",
		"contact": {
			"name": "No Contact",
			"url": "https://www.alphavantage.co",
			"email": "support@alphavantage.co"
		},
		"license": {
			"name": "No License",
			"url": "http://example.com"
		}
	},
	"servers": [{
		"url": "https://www.alphavantage.co/"
	}],
	"paths": {
		"/query?function=TIME_SERIES_INTRADAY": {
			"get": {
				"summary": "Intraday Time Series",
				"description": "This API returns intraday time series (timestamp, open, high, low, close, volume) of the equity specified, updated realtime.",
				"operationId": "getIntradayTimeSeries",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "outputsize",
					"in": "query",
					"description": "By default, outputsize=compact. Strings compact and full are accepted with the following specifications: compact returns only the latest 100 data points in the intraday time series; full returns the full-length intraday time series. The compact option is recommended if you would like to reduce the data size of each API call.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "datatype",
					"in": "query",
					"description": "By default, datatype=json. Strings json and csv are accepted with the following specifications: json returns the intraday time series in JSON format; csv returns the time series as a CSV (comma separated value) file.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=TIME_SERIES_DAILY_ADJUSTED": {
			"get": {
				"summary": "Daily Time Series Adjusted",
				"description": "This API returns daily time series (date, daily open, daily high, daily low, daily close, daily volume, daily adjusted close, and split/dividend events) of the equity specified, covering up to 20 years of historical data.",
				"operationId": "getDailyTimeSeriesAdjusted",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=TIME_SERIES_WEEKLY": {
			"get": {
				"summary": "Weekly Time Series",
				"description": "This API returns weekly time series (last trading day of each week, weekly open, weekly high, weekly low, weekly close, weekly volume) of the equity specified, covering up to 20 years of historical data.",
				"operationId": "getWeeklyTimeSeries",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=TIME_SERIES_DAILY": {
			"get": {
				"summary": "Daily Time Series",
				"description": "This API returns daily time series (date, daily open, daily high, daily low, daily close, daily volume) of the equity specified, covering up to 20 years of historical data.",
				"operationId": "getDailyTimeSeries",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=TIME_SERIES_MONTHLY": {
			"get": {
				"summary": "Monthly Time Series",
				"description": "This API returns monthly time series (last trading day of each month, monthly open, monthly high, monthly low, monthly close, monthly volume) of the equity specified, covering up to 20 years of historical data.",
				"operationId": "getMonthlyTimeSeries",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=TIME_SERIES_MONTHLY_ADJUSTED": {
			"get": {
				"summary": "Monthly Time Series Adjusted",
				"description": "This API returns monthly adjusted time series (last trading day of each month, monthly open, monthly high, monthly low, monthly close, monthly adjusted close, monthly volume, monthly dividend) of the equity specified, covering up to 20 years of historical data.",
				"operationId": "getMonthlyTimeSeriesAdjusted",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=BATCH_STOCK_QUOTES": {
			"get": {
				"summary": "Batch Stock Quotes",
				"description": "The batch stock quotes API enables the querying of multiple stock quotes with a single API request, updated realtime. It may serve as a lightweight alternative to our core stock time series APIs above (which have richer content but are symbol-specific).",
				"operationId": "getBatchStockQuotes",
				"parameters": [{
					"name": "symbols",
					"in": "query",
					"description": "Up to 100 stock symbols seperated by comma. For example: symbols=MSFT,FB,AAPL. If more than 100 symbols are included, the API will return quotes for the first 100 symbols.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=CURRENCY_EXCHANGE_RATE": {
			"get": {
				"summary": "Currency Exchange Rates",
				"description": "Realtime currency exchange rates for physical and digital currencies.",
				"operationId": "getCurrencyExchangeRates",
				"parameters": [{
					"name": "from_currency",
					"in": "query",
					"description": "The currency you would like to get the exchange rate for.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "to_currency",
					"in": "query",
					"description": "The destination currency for the exchange rate.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=DIGITAL_CURRENCY_INTRADAY": {
			"get": {
				"summary": "Digital Currencies Intraday",
				"description": "This API returns the realtime intraday time series (in 5-minute intervals) for any digital currency (e.g., BTC) traded on a specific market (e.g., CNY/Chinese Yuan). Prices and volumes are quoted in both the market-specific currency and USD.",
				"operationId": "getDigitalCurrenciesIntraday",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "market",
					"in": "query",
					"description": "The exchange market of your choice.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=DIGITAL_CURRENCY_DAILY": {
			"get": {
				"summary": "Digital Currencies Daily",
				"description": "This API returns the daily historical time series for a digital currency (e.g., BTC) traded on a specific market (e.g., CNY/Chinese Yuan), refreshed daily at midnight (UTC). Prices and volumes are quoted in both the market-specific currency and USD.",
				"operationId": "getDigitalCurrenciesDaily",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "market",
					"in": "query",
					"description": "The exchange market of your choice.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=DIGITAL_CURRENCY_WEEKLY": {
			"get": {
				"summary": "Digital Currencies Weekly",
				"description": "This API returns the weekly historical time series for a digital currency (e.g., BTC) traded on a specific market (e.g., CNY/Chinese Yuan), refreshed daily at midnight (UTC). Prices and volumes are quoted in both the market-specific currency and USD.",
				"operationId": "getDigitalCurrenciesWeekly",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "market",
					"in": "query",
					"description": "The exchange market of your choice.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=DIGITAL_CURRENCY_MONTHLY": {
			"get": {
				"summary": "Digital Currencies Monthly",
				"description": "This API returns the monthly historical time series for a digital currency (e.g., BTC) traded on a specific market (e.g., CNY/Chinese Yuan), refreshed daily at midnight (UTC). Prices and volumes are quoted in both the market-specific currency and USD.",
				"operationId": "getDigitalCurrenciesMonthly",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "market",
					"in": "query",
					"description": "The exchange market of your choice.",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=SMA": {
			"get": {
				"summary": "Simple Moving Average (SMA)",
				"description": "This API returns the simple moving average (SMA) values.",
				"operationId": "getSimpleMovingAverage",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "series_type",
					"in": "query",
					"description": "The desired price type in the time series. Four types are supported: close, open, high, low",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=EMA": {
			"get": {
				"summary": "Exponential Moving Average (EMA) ",
				"description": "This API returns the exponential moving average (EMA) ",
				"operationId": "getExponentialMovingAverage",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "series_type",
					"in": "query",
					"description": "The desired price type in the time series. Four types are supported: close, open, high, low",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=MACD": {
			"get": {
				"summary": "Moving Average Convergence / Divergence (MACD)",
				"description": "This API returns the moving average convergence / divergence (MACD) values.",
				"operationId": "getMovingAverageConvergenceDivergence",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "series_type",
					"in": "query",
					"description": "The desired price type in the time series. Four types are supported: close, open, high, low",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=STOCH": {
			"get": {
				"summary": "Stochastic Oscillator (STOCH)",
				"description": "This API returns the stochastic oscillator (STOCH) values.",
				"operationId": "getStochasticOscillator",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=RSI": {
			"get": {
				"summary": "Relative Strength Index (RSI)",
				"description": "This API returns the relative strength index (RSI) values.",
				"operationId": "getRelativeStrengthIndex",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "series_type",
					"in": "query",
					"description": "The desired price type in the time series. Four types are supported: close, open, high, low",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=ADX": {
			"get": {
				"summary": "Average Directional Movement Index (ADX)",
				"description": "This API returns the average directional movement index (ADX) values.",
				"operationId": "getAverageDirectionalMovementIndex",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=CCI": {
			"get": {
				"summary": "Commodity Channel Index (CCI) ",
				"description": "This API returns the commodity channel index (CCI) values.",
				"operationId": "getCommodityChannelIndex",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=AROON": {
			"get": {
				"summary": "Aroon (AROON)",
				"description": "This API returns the Aroon (AROON) values.",
				"operationId": "getArroon",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=BBANDS": {
			"get": {
				"summary": "Bollinger bands (BBANDS)",
				"description": "This API returns the Bollinger bands (BBANDS) values.",
				"operationId": "getbollingerBands",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "time_period",
					"in": "query",
					"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "series_type",
					"in": "query",
					"description": "The desired price type in the time series. Four types are supported: close, open, high, low",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=AD": {
			"get": {
				"summary": "Chaikin A/D line (AD)",
				"description": "This API returns the Chaikin A/D line (AD) values. ",
				"operationId": "getChalkinADLine",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=OBV": {
			"get": {
				"summary": "Balance Volume (OBV)",
				"description": "This API returns the on balance volume (OBV) values.",
				"operationId": "getBalanceVolume",
				"parameters": [{
					"name": "symbol",
					"in": "query",
					"description": "The stocker ticker symbol.",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "interval",
					"in": "query",
					"description": "The interval for series (1min, 5min, 15min, 30min, 60min)",
					"schema": {
						"type": "string"
					}
				}]
			}
		},
		"/query?function=SECTOR": {
			"get": {
				"summary": "Sector Performance",
				"description": "This API returns the realtime and historical sector performances calculated from S&P500 incumbents.",
				"operationId": "getSectorPerformance",
				"parameters": []
			}
		}
	},
	"components": {
		"schemas": {
			"symbol": {
				"type": "string",
				"description": "The stocker ticker symbol."
			},
			"interval": {
				"type": "string",
				"description": "The interval for series (1min, 5min, 15min, 30min, 60min)"
			},
			"outputsize": {
				"type": "string",
				"description": "By default, outputsize=compact. Strings compact and full are accepted with the following specifications: compact returns only the latest 100 data points in the intraday time series; full returns the full-length intraday time series. The compact option is recommended if you would like to reduce the data size of each API call."
			},
			"datatype": {
				"type": "string",
				"description": "By default, datatype=json. Strings json and csv are accepted with the following specifications: json returns the intraday time series in JSON format; csv returns the time series as a CSV (comma separated value) file."
			},
			"symbols": {
				"type": "string",
				"description": "Up to 100 stock symbols seperated by comma. For example: symbols=MSFT,FB,AAPL. If more than 100 symbols are included, the API will return quotes for the first 100 symbols."
			},
			"from_currency": {
				"type": "string",
				"description": "The currency you would like to get the exchange rate for."
			},
			"to_currency": {
				"type": "string",
				"description": "The destination currency for the exchange rate."
			},
			"market": {
				"type": "string",
				"description": "The exchange market of your choice."
			},
			"time_period": {
				"type": "string",
				"description": "Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)"
			},
			"series_type": {
				"type": "string",
				"description": "The desired price type in the time series. Four types are supported: close, open, high, low"
			}
		}
	}
}
